<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/menu-bar.css">
  <link rel="stylesheet" href="css/style.css">
  <title>Pizzaria - Cardapio</title>
</head>
<body>
	
	<div th:replace="~{fragmentos/fragmento :: menu}"></div>
	
	<div class="home-content">
	
		<div class="pedido-container">
			
			<div cardapio-container>
				<h3>Pizzas</h3>
				<hr>
				<table class="table table-bordered table-hover">
				
					<thead>
					
						<th scope="col">Nome</th>
						<th scope="col">Descrição</th>
						<th scope="col">Valor R$</th>
						<th scope="col">Adicionar</th>
					
					</thead>
					<tbody>
					
						<tr scope="row" th:each="pizza : ${listaPizzas}">
						
							<td th:text="${pizza.nome}"></td>
							<td th:text="${pizza.descricao}"></td>
							<td th:text="${pizza.valor}"></td>
							<td style="text-align: center;"><button class="btn btn-outline-primary" >+</button></td>
							
							
						</tr>
						
					
					</tbody>
				</table>
				<h3>Bebidas</h3>
				<hr>
				<table class="table table-bordered table-hover">
				
					<thead>
					
						<th scope="col">Nome</th>
						<th scope="col">Descrição</th>
						<th scope="col">Valor R$</th>
						<th scope="col">Adicionar</th>
					
					</thead>
					<tbody>
					
						<tr scope="row" th:each="bebida : ${listaBebidas}">
						
							<td th:text="${bebida.nome}"></td>
							<td th:text="${bebida.descricao}"></td>
							<td th:text="${bebida.valor}"></td>
							<td style="text-align: center;"><button class="btn btn-outline-primary">+</button></td>
						
						</tr>
					
					</tbody>
					
				</table>
			</div>
		</div>
	
	</div>
	
	<script src="/webjars/jquery/3.7.1/jquery.min.js">
	<script src="/webjars/bootstrap/5.3.2/bootstrap.min.js">
	
</body>
</html>